/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: Inter;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.border-violet {
  box-shadow: 0 0 2px violet;
}

.ant-popover-inner {
  transform: translateY(-15px);
  background-color: transparent !important;
}

.ant-popover-arrow {
  display: none !important;
}
.option-title-account:hover {
  background: rgb(36, 36, 60);
  border-radius: 5px;
}
/* .border-item {
  background: rgb(234, 234, 243);
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #565757e7;
} */
